@media print {
	body {
		width: 80mm;
		margin: 0;
		padding: 0;
	}

	.invoice-container {
		width: 100% !important;
		max-width: none !important;
		padding: 0 !important;
	}

	.invoice-header,
	.customer-info,
	.invoice-details {
		box-shadow: none !important;
		border: none !important;
		padding: 10px !important;
		margin-bottom: 10px !important;
	}

	.print-button {
		display: none !important;
	}

	table {
		font-size: 8px !important;
	}

	th,
	td {
		padding: 2px !important;
	}

	.mantine-Text-root {
		font-size: 10px !important;
	}

	.mantine-Title-root {
		font-size: 14px !important;
	}
}
