@media print {
	.no-print {
		display: none !important;
	}

	body * {
		visibility: hidden;
	}

	.invoice-container,
	.invoice-container * {
		visibility: visible;
	}

	.invoice-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		/* max-height: 100vh; */
		overflow: hidden;
		font-size: 12pt;
	}

	.invoice-container * {
		font-weight: 900 !important;
	}

	.print-only {
		display: block !important;
		visibility: visible !important;
	}

	.logo-and-address {
		text-align: center;
		margin-bottom: 1rem;
	}

	table {
		font-size: 12pt !important;
	}

	th,
	td {
		padding: 4px;
	}
}

.print-only {
	display: none;
}

@page {
	size: auto;
	margin: 10mm;
}

.important-font {
	font-size: 12pt !important;
	font-weight: 800 !important;
}
