@media print {
	.no-print {
		display: none !important;
	}

	body * {
		visibility: hidden;
	}

	.invoice-container,
	.invoice-container * {
		visibility: visible;
	}

	.invoice-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 14cm; /* Set the container to match the paper width */
		max-height: 100vh;
		overflow: hidden;
		font-size: 12pt;
		/* padding: 5mm;  */
	}

	.invoice-container * {
		font-weight: 900 !important;
	}

	.print-only {
		display: block !important;
		visibility: visible !important;
	}

	.logo-and-address {
		text-align: center;
		margin-bottom: 1rem;
	}

	table {
		font-size: 12pt !important;
	}

	th,
	td {
		padding: 4px;
	}
}

.print-only {
	display: none;
}

@page {
	size: 14cm auto; /* Ensure the paper size matches the given width */
	margin: 10mm; /* Adjust margins as needed */
}

.important-font {
	font-size: 12pt !important;
	font-weight: 800 !important;
}

.invoice-container {
	width: 14cm; /* Ensure consistent width for preview */
	margin: 0 auto;
}

/* Adjust grid layout for better alignment */
.invoice-container .grid-col {
	height: 1.8cm;
	width: 2.8cm;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px; /* Reduce margins to fit more items */
}

.text-sm {
	font-size: 8px;
}
